<div class="container-liquid">
  <div id="map" style='position: absolute; left: 0; width: 100%; height: 100%;'></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
              var xmlhttp = new XMLHttpRequest();
              var markers;
    handler.buildMap({
                provider: {
                    zoom: 13,
                    center: new google.maps.LatLng(51.580697,-0.34212),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                },
                internal: {id: 'map'}},
            function () {
              xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                  markers = handler.addMarkers(JSON.parse(xmlhttp.response));
                  }
              };
              xmlhttp.open("GET", "/organizations/get_marker_hash", true);
              xmlhttp.setRequestHeader("Content-type", "application/json");
              xmlhttp.send();
                // markers = handler.addMarkers(<%=raw @hash.to_json %>);
//                handler.bounds.extendWith(markers);
//                handler.fitMapToBounds();
});</script>
